<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SqlConn" value="Data Source=L-185008854\SQLEXPRESS;Initial Catalog=SampleDB;Integrated Security=True"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
